<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Celine Laguerre">
    

    <title>Duke : Accueil</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="assets/css/carousel.css" rel="stylesheet">
    <link href="assets/css/duke.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Poppins" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <div class="row col-lg-12 no-padding">
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="./">
                <img src="images/logo-gd.png" alt="logo" width="60px" class="left">
                <h1 class="left">Duke</h1>
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav vertical-align">
                <li class=" active dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Le label <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Histoire</a></li>
                    <li><a href="#">Equipe</a></li>
                    <li><a href="#">Espace presse</a></li>
                  </ul>
                </li>
                <li><a href="#about">Nos artistes</a></li>
                <li><a href="#about">Evènements</a></li>
                <li><a href="#about">Le blog</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="item active">
        <div class="filter"></div>
          <img class="first-slide" src="assets/img/janedo.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
        <div class="filter"></div>
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
        <div class="filter"></div>
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      
    </div><!-- /.carousel -->
	<div class="row home_player"></div>
    </div><!-- /top-->

    <div class="container">
    	<div class="row main">

           </div>
      <!-- Three columns of text below the carousel -->
      <div class="container">
      <div class="row" style="margin-bottom: 50px;">
          <div class="col-lg-12 title text-center">
              <h2>Nos artistes</h2>
          </div>
      </div>
      <div class="row" style="margin-bottom: 50px;">
          <div class="col-lg-3 size text-center">
             
              <a href="#"><img class="artiste" src="https://media.giphy.com/media/l2JhzxPBPQaX0mtl6/giphy.gif" alt="Daft Punk"/></a>
              <h3 class="fa fa-user-o">&nbsp;&nbsp;François FILLON</h3>
              <p><i class="fa fa-music">&nbsp;&nbsp;Fillonne moi</i></p>
              <a href="#"><button class="btn btn-primary">En savoir plus</button></a>
             
          </div>
          <div class="col-lg-3 size text-center">
              <a href="#"><img class="artiste" src="https://media.giphy.com/media/jwnXAHCjW5bQA/giphy.gif" alt="Daft Punk"/></a>
              <h3 class="fa fa-user-o">&nbsp;&nbsp;Emmanuel MACRON</h3>
              <p><i class="fa fa-music">&nbsp;&nbsp;The white fox</i></p>
              <a href="#"><button class="btn btn-primary">En savoir plus</button></a>
          </div>
          <div class="col-lg-3 size text-center">
              <a href="#"><img class="artiste" src="https://media.giphy.com/media/l0MvrZrAyR6tSbjSU/giphy.gif" alt="Daft Punk"/></a>
              <h3 class="fa fa-user-o">&nbsp;&nbsp;Marine LE PEN</h3>
              <p><i class="fa fa-music">&nbsp;&nbsp;Plus blanc que blanc</i></p>
              <a href="#"><button class="btn btn-primary">En savoir plus</button></a>
          </div>
          <div class="col-lg-3 size text-center">
              <a href="#"><img class="artiste" src="https://media.giphy.com/media/QTsbot2f0ccFy/giphy.gif" alt="Daft Punk"/></a>
              <h3 class="fa fa-user-o">&nbsp;&nbsp;Jean-Luc MELENCHON</h3>
              <p><i class="fa fa-music">&nbsp;&nbsp;Soumettez-vous !</i></p>
              <a href="#"><button class="btn btn-primary">En savoir plus</button></a>
          </div>
     </div>  
     <div class="row" style="margin-bottom: 50px;">
          <div class="col-lg-3 size text-center">
              <a href="#"><img class="artiste" src="https://media.giphy.com/media/9LzicCwQ2BwJy/giphy.gif" alt="Daft Punk"/></a>
              <h3 class="fa fa-user-o">&nbsp;&nbsp;Benoît HAMON</h3>
              <p><i class="fa fa-music">&nbsp;&nbsp;Viens on est bien</i></p>
              <a href="#"><button class="btn btn-primary">En savoir plus</button></a>
          </div>
          <div class="col-lg-3 size text-center">
              <a href="#"><img class="artiste" src="https://media.giphy.com/media/14w5DfCJ1zdXxK/giphy.gif" alt="Daft Punk"/></a>
              <h3 class="fa fa-user-o">&nbsp;&nbsp;Jean LASSALLE</h3>
              <p><i class="fa fa-music">&nbsp;&nbsp;Viens boire un p'tit coups à la maison</i></p>
              <a href="#"><button class="btn btn-primary">En savoir plus</button></a>
          </div>
         <div class="col-lg-3 size text-center">
              <a href="#"><img class="artiste" src="https://media.giphy.com/media/grJ7GO9V7TqMw/giphy.gif" alt="Daft Punk"/></a>
              <h3 class="fa fa-user-o">&nbsp;&nbsp;Jacques CHEMINADE</h3>
              <p><i class="fa fa-music">&nbsp;&nbsp;Seul sur Mars</i></p>
              <a href="#"><button class="btn btn-primary">En savoir plus</button></a>
         </div>
          <div class="col-lg-3 size text-center">
              <a href="#"><img class="artiste" src="https://media.giphy.com/media/13SyvBlogEIAV2/giphy.gif" alt="Daft Punk"/></a>
              <h3 class="fa fa-user-o">&nbsp;&nbsp;Nathalie ARTHAUD</h3>
              <p><i class="fa fa-music">&nbsp;&nbsp;Marteau et Fossille</i></p>
              <a href="#"><button class="btn btn-primary">En savoir plus</button></a>
          </div>
     </div>
     <div class="row">
        <div class="col-lg-12 text-center"> 
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>     
        </div>
    </div>


        </div>
      </div>




      <!-- FOOTER -->
      <footer>
          <!--<div class="container">-->
              <div class="row">
                  <div class="col-md-3 col-md-offset-1 top-footer sep">
                    <h3>Qui sommes nous?</h3>
                    <ul>
                        <li>Coordonnées</li>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Spotify</li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-md-offset-1 top-footer sep">
                      <h3>Nos Artistes</h3>
                  </div>  
                  
                  <div class="col-md-3 top-footer">
                      <h3>Nos Evénements</h3>
                  </div>
                  </div>
                    <!--</div>-->
                  <div class="row">
        <div class="col-md-12 bottom-footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2016 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </div>
      </div>
      
      </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="assets/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

